{{- if .Values.scaledJob.enabled -}}
apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: {{ include "[[ .ChartName ]].fullname" . }}
  labels:
    {{- include "[[ .ChartName ]].labels" . | nindent 4 }}
spec:
  jobTargetRef:
    parallelism: {{ .Values.scaledJob.parallelism }}
    completions: {{ .Values.scaledJob.completions }}
    backoffLimit: {{ .Values.scaledJob.backoffLimit }}
    template:
      metadata:
        labels:
          {{- include "[[ .ChartName ]].selectorLabels" . | nindent 10 }}
      spec:
        serviceAccountName: {{ include "[[ .ChartName ]].serviceAccountName" . }}
        restartPolicy: Never
        {{- with (.Values.podSecurityContext) }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with (.Values.imagePullSecrets) }}
        imagePullSecrets:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        containers:
          - name: {{ .Chart.Name }}
            image: {{ include "[[ .ChartName ]].image" . }}
            imagePullPolicy: {{ (.Values.image).pullPolicy }}
            {{- with .Values.scaledJob.command }}
            command:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with (.Values.env) }}
            env:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with (.Values.envFrom) }}
            envFrom:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with (.Values.volumeMounts) }}
            volumeMounts:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with (.Values.resources) }}
            resources:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with (.Values.securityContext) }}
            securityContext:
              {{- toYaml . | nindent 14 }}
            {{- end }}
        {{- with (.Values.nodeSelector) }}
        nodeSelector:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with (.Values.tolerations) }}
        tolerations:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with (.Values.affinity) }}
        affinity:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with (.Values.volumes) }}
        volumes:
          {{- toYaml . | nindent 10 }}
        {{- end }}
  pollingInterval: {{ .Values.scaledJob.pollingInterval }}
  successfulJobsHistoryLimit: {{ .Values.scaledJob.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.scaledJob.failedJobsHistoryLimit }}
  maxReplicaCount: {{ .Values.scaledJob.maxReplicaCount }}
  scalingStrategy:
    strategy: {{ .Values.scaledJob.scalingStrategy }}
  triggers:
    {{- toYaml .Values.scaledJob.triggers | nindent 4 }}
{{- end }}
