issuer:
  kind: acme
  acme:
    solvers:
      - dns01:
          cloudDNS:
            # -- Cloud DNS project. Fill this in; cert-manager will call
            # the API with whatever is here.
            project: ""
