externalSecret:
  secretStoreRef:
    # -- SecretStore pointing at Azure Key Vault. The store is cluster
    # infrastructure and is not created by this chart.
    name: azure-keyvault
    kind: ClusterSecretStore
