{{- if .Values.secret.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "[[ .ChartName ]].fullname" . }}
  labels:
    {{- include "[[ .ChartName ]].labels" . | nindent 4 }}
type: {{ .Values.secret.type }}
stringData:
  {{- range $k, $v := .Values.secret.stringData }}
  {{ $k }}: {{ tpl $v $ | quote }}
  {{- end }}
{{- end }}
